/* You can add global styles to this file, and also import other style files */
body, html, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #fff;
	color: #fff;
}

h2, h3 {
	margin: 0;
}

.p-button {
	background: white;
	color: grey;
	border-color: lightgrey;
	border-radius: 9%;
} 

button:hover {
	background-color: lightgrey !important;
}