.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  background-color: #fff;
  color: black;
  @media screen and (max-width: 700px), (max-height: 600px) {
    flex-wrap: nowrap;
    flex-direction: row;
  }
  margin-bottom: 0;
}

.flip-card {
  background-color: transparent;
  width: 450px;
  height: 260px;
  z-index: 1000;
  margin: auto;
  margin-bottom: 50px;
  perspective: 1000px;
}

.credit-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 4%;
  height: 100%;
  box-shadow: 5px 10px 18px #888888;
  transform: 0.6s;
  transform-style: preserve-3d;
  transition: 1s;
  perspective: 1000px;
}

.card-front,
.card-back {
  position: absolute;
  border-radius: 4%;
  width: 100%;
  height: 100%;
  background-image: url("../assets/credit-card-background.jpeg");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card:hover .credit-card {
    transform: rotateY(180deg);
}

.card-front {
  padding: 25px 15px 15px 30px;
}

.card-back {
    padding-top: 25px;
    padding-bottom: 25px;
    transform: rotateY(180deg);
}

.card-number {
  color: rgb(94, 88, 88);
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 1.6rem;
  text-shadow: 0 2px 1px;
  margin: 10px 0 25px 0;
  // font-family: "Orbitron", sans-serif;
}

.expiration-date {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  font-size: 0.6rem;
  text-align: center;
  text-shadow: 0 1px 1px;
  color: white;
  margin-right: 200px;

  div {
    font-size: 0.8rem;
    color: #5e5858;
    text-shadow: 0 2px 1px;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 5px;
  }
}

.card-owner {
  display: flex;
  color: rgb(94, 88, 88);
  font-weight: 500;
  letter-spacing: 4px;
  font-size: 1rem;
  text-shadow: 0 2px 1px;
  margin-top: 10px;
  align-items: center;
}

.black-strip {
    width: 100%;
    height: 50px;
    background-color: black;
    margin-bottom: 10px;  
}

.signature {
    color: white;
    font-size: 0.8em;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}
.signature-strip {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    height: 40px;
    color: grey;
    background-color: white;
}

.statement {
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    font-size: 0.6em;
}

.form {
  max-width: 550px;
  margin: auto;
  margin-bottom: 0;
  width: 100%;
  color: black;
  @media screen and (max-width: 576px) {
    margin: 0 auto;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep app-root .p-card {
  margin-top: 70px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 2px 5px 15px #cac6c6;
  border-radius: 2%;
  color: grey;
  height: 350px;
  display: flex;
  align-items: flex-end;
}

::ng-deep app-root .p-card-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

::ng-deep app-root .p-field.p-col {
  //   margin-right: 14px;
  margin-bottom: 25px;
}

.cardBrand {
  width: 90px;
  margin-left: 15px;
}

::ng-deep app-root #cardNum.p-inputnumber-input {
  width: 350px;
}

::ng-deep app-root #cvv.p-inputnumber-input {
  width: 70px;
  margin-left: 50px;
}

label {
  padding-right: 10px;
}
