<div class="wrapper">
  <div class="form">
    <p-card>
        <span class="p-field p-col p-float-label">
            <input style="width: 250px;" id="firstName" type="text" pInputText>
            <label for="firstName">First Name</label>
        </span>
        <span class="p-field p-col p-float-label">
            <input style="width: 250px;" id="lastName" type="text" pInputText>
            <label for="lastName">Last Name</label> 
        </span>
        <span class="p-field p-col p-float-label">
          <input style="width: 350px;" id="cardNum" type="text" pInputText>
          <label for="cardNum">Card Number</label>
        </span>
        <div class="cardBrand">VISA</div>
        <span class="p-field p-col p-float-label">
          <input style="width: 70px;" id="securityCode" type="text" pInputText>
          <label for="securityCode">Code</label>
        </span>
        <p-dropdown 
          [options]="months" 
          [(ngModel)]="selectedMonth" 
          placeholder="Month" 
          optionLabel="month" 
          [showClear]="true">
        </p-dropdown>
        <p-dropdown
          [options]="years" 
          [(ngModel)]="selectedYear" 
          placeholder="Year" 
          optionLabel="year" 
          [showClear]="true">
      </p-dropdown>
    </p-card>
  </div>
</div>