.wrapper {
  min-height: 100vh;
  display: flex;
  padding: 50px 15px;
  background-color: #44596e;
  color: black;
  @media screen and (max-width: 700px), (max-height: 500px) {
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.credit-card {
  position: relative;
  width: 450px;
  height: 260px;
  border-radius: 4%;
  z-index: 1000;
  margin: auto;
  margin-bottom: 80px;
  box-shadow: 5px 10px 18px #888888;
  background-image: url("../assets/credit-card-background.jpeg");
}

.form {
  max-width: 570px;
  margin: auto;
  width: 100%;
  color: black;
  @media screen and (max-width: 576px) {
    margin: 0 auto;
  }
}

::ng-deep app-root .p-card {
  background-color: #fff;
  color: grey;
  height: 400px;
  display: flex;
  align-items: flex-end;
}

::ng-deep app-root .p-card-content {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

::ng-deep app-root .p-field.p-col {
  margin-right: 10px;
  margin-bottom: 25px;
}

.cardBrand {
  width: 90px;
  margin-left: 5px;
}

::ng-deep app-root #cardNum.p-inputnumber-input {
  width: 350px;
}

::ng-deep app-root #code.p-inputnumber-input {
  width: 70px;
  margin-left: 20px;
}

::ng-deep app-root #cvv.p-inputnumber-input {
  width: 70px;
  margin-left: 40px;
}

label {
  padding-right: 10px;
}
